<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <p class="text-muted">Web app that lets users view and leave comments on the latest news from <a href="https://www.highsnobiety.com/style/" class="text-white navbar-brand d-flex align-items-center">
          </svg>
          <strong>HIGHSNOBIETY</strong>
          </a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Fashionably Scrape</h1>
      <p class="lead text-muted">Find the hottest news in fashion</p>
      <p>
        {{!-- href="/articles" --}}
        <a  href="/articles" class="scrape_articles btn btn-dark my-2">Show New Articles</a>
        <a href="/articles/saved" class="view-saved btn btn-secondary my-2">View Saved Articles</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {{#each articles}}
        <div class="col-md-4">
          <div class="article card mb-4 box-shadow" data-id={{this.id}}>
            <img class="card-img-top" sizes="(min-width: 1260px) 1200px, (min-width: 1024px) 714px, (min-width: 640px) 75vw, 100vw"src={{this.image}}
              alt="Article Img">
            <div class="card-body">
              <p class="card-text">{{this.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="save_article btn btn-sm btn-outline-secondary" data-id={{this.id}}>Save Article</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       {{/each}}

      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
